<nav >
  <div >
    <a href="/products">Products</a>
  </div>
</nav>

<div >
  <div >
    <div >
      <h1>User Profile</h1>
      <div >
        <div >
          <h3>{{user.first_name}} {{user.last_name}}</h3>
        </div>
        <div >
          <h5 >Email: {{user.email}}</h5>
          <h5>CartID: {{user.cart}}</h5>
          <h5>Role: {{user.role}}</h5>
        </div>
        <div>
          <h5>UserID: {{user._id}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>